@use "../../styles/var";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-family: "Syne", sans-serif;
  margin-top: 4rem;
  letter-spacing: -1px;
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    font-size: 0.75rem;
  }
}

.cryptoText {
  flex-basis: 33.333333%;
  flex-grow: 0;
  flex-shrink: 0;
}

.priceText {
  flex-basis: 33.333333%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.changeText {
  flex-basis: 33.333333%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}
