@use "../../styles/var";

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 5px;
  transition: all 0.5 ease-in-out;
  a {
    background-color: var(--card-color);

      color: var(--primary-color);

    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    &:hover {
      background-color: var(--primary-font);
      color: var(--white-text);
    }
  }
}

.copyright {
  text-align: center;
  margin-top: 5px;
  p {
    font-size: 1rem;
    color: grey;
  }
}
