@use "../../styles/var";

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.copyright {
  text-align: center;
  margin-top: 5px;
  p {
    font-size: 1rem;
    color: grey;
  }
  a {
    color: var(--primary-color);
  }
}
