@use "../styles/var";

.container {
  height: auto;
  width: 100rem;
  background: var(--bg-color);
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    width: 95vw;
  }
}

.wrap {
  margin: auto;
  padding-top: 2.5rem; /* 40px */
  padding-bottom: 2.5rem; /* 40px */
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
  color: var(--primary-font);
}

.title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Syne", sans-serif;
    letter-spacing: -0.1rem;
    font-size: 5rem;
    line-height: normal;
    font-weight: 700;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .eyes {
    font-size: 5rem;
    line-height: normal;
    text-align: center;
    padding-left: 1rem;
  }
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    h1 {
      font-size: 3rem;
    }
    .eyes {
      font-size: 3rem;
    }
  }
}

.please {
  font-family: "Syne", sans-serif;
  letter-spacing: -0.1rem;
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
  color: var(--primary-font);
}
